#############
## folders ##
#############
build
cmake-*

#############
##  files  ##
#############
*.*~
*.*user.*
*.user
*.autosave
CATKIN_IGNORE
*.orig
*~
*.idea
*.pyc
*.save
*.avi
*.mp4
*.zip
*.jpg
*.png
*.pdf
*.log
*.gz
*.weights
*.pth
*.o

## do not ignore
!/images/*
# !/camera_rviz_connect/scripts/narrow.jpg
# !/camera_rviz_connect/scripts/wide.jpg
